<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>

<h1>Your pragmatic Catalog</h1>

<% @products.each do |product| %>
    <div class="entry">
      <%= image_tag(product.image_url) %>
      <%= product.title %>
      <%= sanitize(product.description) %>
      <div class="price_line">
        <span class="price"><%= product.price %></span>
      </div>
    </div>
<% end %>

